body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linea r-gradient(135deg, #000000, #000000, #000000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 330px;
    background: rgba(128,128,128);
    padding: 28px;
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0,0,0);
    backdrop-filter: blur(6px);
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}

h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #000000;
}

p {
    text-align: center;
    color: #000000;
    font-size: 13px;
    margin-top: 0;
}

.input-field {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
}

.input-field input {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #000000;
    outline: none;
    font-size: 14px;
    background: #B0C4DE;
}

.btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #000000;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 18px rgba(119,136,153);
}

.btn:hover {
    background: #ff2e99;
}

.footer {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #6d405a;
}

